MAIL AI AGENT.json
{
  "name": "MAIL AI AGENT",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        0
      ],
      "id": "9503b4c1-1dcd-466e-9f6c-15514f1ac168",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1q0gm6AEdq-usplfev7XSYhMCLlHkfwzyznLtHWicPlQ",
          "mode": "list",
          "cachedResultName": "leads sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q0gm6AEdq-usplfev7XSYhMCLlHkfwzyznLtHWicPlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q0gm6AEdq-usplfev7XSYhMCLlHkfwzyznLtHWicPlQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -112,
        0
      ],
      "id": "7c01b3a4-99b9-4940-85b7-449b5c133778",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kletmx3R9W4gYdBG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "541c24d3-1b01-4586-acea-69cea4c923f3",
              "leftValue": "={{ $json['SEND STATUS'] }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        0
      ],
      "id": "d83458af-4828-4d7c-b4ff-eac461e14cac",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        352,
        -192
      ],
      "id": "2a4b2854-bcab-446e-9f7c-182cbb3bb903",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1q0gm6AEdq-usplfev7XSYhMCLlHkfwzyznLtHWicPlQ",
          "mode": "list",
          "cachedResultName": "leads sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q0gm6AEdq-usplfev7XSYhMCLlHkfwzyznLtHWicPlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 93749435,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q0gm6AEdq-usplfev7XSYhMCLlHkfwzyznLtHWicPlQ/edit#gid=93749435"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        560,
        -384
      ],
      "id": "bb873d44-1772-45f2-bc00-45f40738e819",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kletmx3R9W4gYdBG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get templates from previous node\nconst templates = items.map(item => item.json);\n\n// Check if templates exist\nif (!templates || templates.length === 0) {\n  throw new Error('No templates found');\n}\n\n// Pick a random template\nconst index = Math.floor(Math.random() * templates.length);\nconst template = templates[index];\n\n// Convert body to HTML\nconst bodyHtml = template.Body.replace(/\\n/g, '<br>');\n\n// Return in n8n-compatible format\nreturn [\n  {\n    json: {\n      subject: template.Subject,\n      body: bodyHtml\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -384
      ],
      "id": "9761b528-8bab-4231-b0e1-a4e19f4f20fb",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        976,
        -224
      ],
      "id": "300b5846-9d28-47fc-a852-6660622db454",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9b9ec51-b246-4f66-b737-f63a168f65da",
              "name": "body",
              "value": "={{ $json.body.replace(\"[name]\", $json[\"Name\"] && $json[\"Name\"].trim() !== '' ? $json[\"Name\"].trim() : \"there\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -368
      ],
      "id": "91ebf447-b7e4-4929-984b-eaace0aba8e9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.EMAIL }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Abhishek Dixit"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1376,
        0
      ],
      "id": "824ad4b8-5368-40d9-8697-ca4c6e81f24e",
      "name": "Send a message",
      "webhookId": "02e6d411-62ff-4dfa-bb96-95e46875acd2",
      "credentials": {
        "gmailOAuth2": {
          "id": "kj8EM3jLlJfHblvj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        -352
      ],
      "id": "211093a8-35a5-4483-bfa0-32d57bb385ed",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1q0gm6AEdq-usplfev7XSYhMCLlHkfwzyznLtHWicPlQ",
          "mode": "list",
          "cachedResultName": "leads sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q0gm6AEdq-usplfev7XSYhMCLlHkfwzyznLtHWicPlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q0gm6AEdq-usplfev7XSYhMCLlHkfwzyznLtHWicPlQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EMAIL": "={{ $json.EMAIL }}",
            "SEND STATUS": "={{ $json.labelIds[0] }}",
            "TIME": "={{ new Date().toLocaleTimeString(\"en-GB\", { timeZone: \"Asia/Kolkata\", hour12: false }) }}"
          },
          "matchingColumns": [
            "EMAIL"
          ],
          "schema": [
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SEND STATUS",
              "displayName": "SEND STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIME",
              "displayName": "TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1776,
        -352
      ],
      "id": "944da0ac-8e56-4ba6-8168-c8afc2d3a592",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kletmx3R9W4gYdBG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        0
      ],
      "id": "274fb350-0eeb-486c-bcbb-51d711601589",
      "name": "Wait",
      "webhookId": "0b16582b-c669-4587-80b2-06315caf7935"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2342f706-339b-4855-9a54-297a1b6c48db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d444138e597a29b677a2485dd34f0cb7189082837380d02731adf907b9bc025d"
  },
  "id": "0UeqnpIW8gEGhOej",
  "tags": []
}